@import "simple.css";

:root {
  --border: #898ea4;
}

body > header {
  padding-top: 2rem;
}

body > header p {
  max-width: fit-content;
}

#bml_buttons button {
  margin: 0.5rem;
}

#bml_checklist {
  list-style-type: none;
}

.notice {
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
}

.notice > img {
  margin-top: -25px;
  margin-bottom: -20px;
}
